# Pandas

+ Pandas é uma biblioteca Python que fornece ferramentas de análise de dados e estruturas de dados de alta performance e fáceis de usar.
+ Pandas é construída sobre a biblioteca NumPy e sua estrutura de dados principal é chamada de **DataFrame**.
+ Um DataFrame permite que se armazene e se manipule tabelas de dados nas quais as linhas são as observações e as colunas as variáveis.

In [ ]:
import pandas as pd # aqui importamos a biblioteca e damos a ela o "apelido" pd

Existem diversas formas de se criar um DataFrame

Usando dicionários

In [ ]:
dic = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }
brics = pd.DataFrame(dic)
brics

O atributo **index** contém os títulos das linhas do DataFrame. Se no momento da criação do DataFrame nenhum índice for informado os índices são criados automaticamente a partir do 0.

In [ ]:
print(brics.index)

Os índices podem ser alterados a qualquer momento e com dados de quaisquer tipos.

In [ ]:
brics.index = ["BR","RU","IN","CH","SA"]
brics

O atributo **index** retorna uma visão dos títulos das linhas enquanto que o atributo **columns** retorna uma visão dos títulos das colunas.

In [ ]:
print(brics.index)
print(brics.columns)

Outra maneira de se criar um DataFrame é importando um arquivo csv

In [ ]:
import pandas as pd
flavonoides = pd.read_csv("flavonoides.csv",sep='\t')
flavonoides

Observem que o separador de colunas desse arquivo, tabulação, foi especificado por meio do parâmetro *sep='\t'*. Quando o separador das colunas é a vírgula esse parâmetro pode ser omitido.

Para que o comando interprete que a primeira coluna representa os índices, o parâmetro **index_col** deve ser acresentado.

In [ ]:
flavonoides = pd.read_csv("flavonoides.csv",sep='\t',index_col=0)
flavonoides

Você pode visualizar apenas as primeiras linhas do DataFrame por meio do comando **head** ou apenas as últimas por meio do comando **tail**.

In [ ]:
flavonoides.head()

In [ ]:
flavonoides.tail(2)

Existem diversas maneiras de se acessar fatias (slices) de um DataFrame. A mais simples é usando colchetes, assim como é feito para listas e arrays.

In [ ]:
flavonoides["MW[2]"] # acessando uma coluna

In [ ]:
flavonoides[["Lumo","Homo","Gap"]] # acessando uma lista de colunas

As linhas podem ser acessadas por meio da faixa de linhas desejadas entre colchetes.

In [ ]:
flavonoides[2:5]

O método **loc** pode ser usado com dois índices e permite acessar linhas e colunas por meio dos respectivos títulos.

In [ ]:
flavonoides.loc[:,["Lumo","Homo","Gap"]] # todas as linhas e algumas colunas

In [ ]:
flavonoides.loc[["mol3","mol8","mol5","mol20"],:] # acessando algumas linhas e todas as colunas

In [ ]:
flavonoides.loc[["mol3","mol8","mol5","mol20"],["Lumo","Homo","Gap"]] # acessando algumas linhas e algumas colunas

O método **iloc** pode ser usado de maneira semelhante ao método **loc**, exceto que ele utiliza como parâmetros os índices ao ínvés dos títulos das linhas ou colunas.

In [ ]:
flavonoides.iloc[2] # passando apenas um parâmetro, a linha selecionada é acessada (mol3)

In [ ]:
flavonoides.iloc[[2,5,8],551:555] # uma lista ou uma faixa de valores podem ser passados como parâmetros

Assim como os arrays, os DataFrame também possuem os atributos **shape** e **size**

In [ ]:
print(flavonoides.shape)
print(flavonoides.size)

O método **describe** fornece um resumo da estatística por colunas referente ao DataFrame

In [ ]:
brics.describe()

No entanto, essas estatísticas podem ser obtidas individualmente por meio dos métodos mean, std, etc. Além disso é possível obter as estatísticas por linha especificando a dimensão desejada.

In [ ]:
print(brics.mean())
print("-------------------------------")
print(brics.std(axis=1))

Os métodos **sum**, **min** e **max** também podem ser usados nos DataFrames.

In [ ]:
print("Maior valor de cada coluna")
print(brics.max())
print("Soma dos valores de cada coluna numérica")
print(brics.sum(numeric_only=True))
print("Menor valor de cada linha")
print(brics.min(axis=1))

Do mesmo modo que ocorre com os Arrays, o DataFrame transposto pode ser acessado por meio do atributo **T**.

In [ ]:
brics

In [ ]:
brics.T

Você pode ordenar um DataFrame pelo título do índice com o método **sort_index** especificando qual dimensão será usada com a palavra chave *axis*.

In [ ]:
brics.sort_index(axis=1,ascending=False) # ordenando as colunas pelo título em ordem decrescente

Você pode escolher uma linha ou coluna para ordenar o DataFrame com o método **sort_values**.

In [ ]:
brics.sort_values(by="population")

O método **concat** concatena as linhas de uma lista de DataFrames diferentes

In [ ]:
df1 = brics[0:1]
print(df1)
df2 = brics[2:4]
print(df2)
pd.concat([df1,df2])

Para concatenar colunas utilizamos o método **join**.

In [ ]:
df1 = brics.loc[:,["country","population"]]
print(df1)
df2 = brics.loc[:,["area"]]
print(df2)
# df1.merge(df2,left_index=True,right_index=True)
df1.join(df2)

O DataFrame pode ser salvo em arquivo csv ou excel, por exemplo.

In [ ]:
brics.to_csv("brics.csv")
brics.to_excel("brics.xlsx")

### Exercício

+ Crie um DataFrame com os nomes, idades, pesos e alturas dos estudantes da turma (Arquivo IMC.csv que está no github na página da disciplina)
+ Inclua uma nova coluna no DataFrame contendo o IMC de cada estudante ($peso/altura^2$)
+ Salve o DataFrame em um arquivo xlsx e abra no excel para ver o resultado
+ Crie um DataFrame contendo apenas nomes e idades
+ Crie um DataFrame contendo apenas os 5 estudantes mais altos
+ Crie um novo DataFrame ordenado pelo IMC
+ Determine quem é o estudante mais alto, quem é o mais novo e a soma dos pesos de todos os estudantes
+ Calcule a média e o desvio padrão dos valores de IMC

In [1]:
# Responda aqui
import pandas as pd

In [4]:
df = pd.read_csv("IMC.csv",index_col=0)

In [14]:
df["IMC"] = df["Peso"]/df["Altura"]**2

In [15]:
df

           idade  Peso  Altura        IMC
Nome
Maria         25    50    1.62  19.051974
Telma         27    46    1.65  16.896235
Jéssica       19    55    1.70  19.031142
Sílvia        20    65    1.71  22.229062
Cláudia       19    68    1.70  23.529412
David         21    54    1.73  18.042701
Augusto       16    69    1.78  21.777553
Leandro       19    74    1.80  22.839506
Guilherme     21    60    1.76  19.369835
Paulo         25   115    1.75  37.551020
Vagner        27    72    1.72  24.337480

In [16]:
df.to_excel("IMC.xlsx")

In [17]:
df2 = df.loc[:,"idade"]

In [18]:
df2

Nome
Maria        25
Telma        27
Jéssica      19
Sílvia       20
Cláudia      19
David        21
Augusto      16
Leandro      19
Guilherme    21
Paulo        25
Vagner       27
Name: idade, dtype: int64

In [19]:
df

           idade  Peso  Altura        IMC
Nome
Maria         25    50    1.62  19.051974
Telma         27    46    1.65  16.896235
Jéssica       19    55    1.70  19.031142
Sílvia        20    65    1.71  22.229062
Cláudia       19    68    1.70  23.529412
David         21    54    1.73  18.042701
Augusto       16    69    1.78  21.777553
Leandro       19    74    1.80  22.839506
Guilherme     21    60    1.76  19.369835
Paulo         25   115    1.75  37.551020
Vagner        27    72    1.72  24.337480

In [22]:
df3 = df.sort_values(by="Altura",ascending=False).iloc[:5,:]

In [23]:
df3

           idade  Peso  Altura        IMC
Nome
Leandro       19    74    1.80  22.839506
Augusto       16    69    1.78  21.777553
Guilherme     21    60    1.76  19.369835
Paulo         25   115    1.75  37.551020
David         21    54    1.73  18.042701

In [24]:
df4 = df.sort_values(by="IMC")

In [25]:
df4

           idade  Peso  Altura        IMC
Nome
Telma         27    46    1.65  16.896235
David         21    54    1.73  18.042701
Jéssica       19    55    1.70  19.031142
Maria         25    50    1.62  19.051974
Guilherme     21    60    1.76  19.369835
Augusto       16    69    1.78  21.777553
Sílvia        20    65    1.71  22.229062
Leandro       19    74    1.80  22.839506
Cláudia       19    68    1.70  23.529412
Vagner        27    72    1.72  24.337480
Paulo         25   115    1.75  37.551020

In [28]:
df["Altura"].idxmax()

'Leandro'

In [29]:
df["idade"].idxmin()

'Augusto'

In [33]:
df["Peso"].sum()

728

In [34]:
df["IMC"].mean()

22.24144725802304

In [35]:
df["IMC"].std(ddof=1)

5.620800506702645

In [37]:
df[df["IMC"]>25]

       idade  Peso  Altura       IMC
Nome
Paulo     25   115    1.75  37.55102

In [39]:
df["Condicao"] = ""

In [41]:
for i in range(len(df)):
    if df["IMC"][i] < 20:
        df["Condicao"][i] = "Normal"
    elif df["IMC"][i] < 25:
        df["Condicao"][i] = "Sobrepeso"
    elif df["IMC"][i] < 30:
        df["Condicao"][i] = "Obesidade grau 1"        
    elif df["IMC"][i] < 35:
        df["Condicao"][i] = "Obesidade grau 2"            
    else:
        df["Condicao"][i] = "Obesidade grau 3"

/home/jpam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jpam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jpam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [42]:
df

           idade  Peso  Altura        IMC          Condicao
Nome
Maria         25    50    1.62  19.051974            Normal
Telma         27    46    1.65  16.896235            Normal
Jéssica       19    55    1.70  19.031142            Normal
Sílvia        20    65    1.71  22.229062         Sobrepeso
Cláudia       19    68    1.70  23.529412         Sobrepeso
David         21    54    1.73  18.042701            Normal
Augusto       16    69    1.78  21.777553         Sobrepeso
Leandro       19    74    1.80  22.839506         Sobrepeso
Guilherme     21    60    1.76  19.369835            Normal
Paulo         25   115    1.75  37.551020  Obesidade grau 3
Vagner        27    72    1.72  24.337480         Sobrepeso

In [43]:
df.to_excel("IMC.xlsx")

In [44]:
import os

In [46]:
for arq in os.listdir(os.getcwd()):
    print(arq)

strings
exercicios_listas_respondido.ipynb
listas.ipynb
exercicios_listas.pdf
dicionarios.ipynb
flavonoides.csv
pandas.ipynb
lista1.pdf
index.ipynb
estrutura_repeticao
consumo_alcool.xlsx
graficos.ipynb
figura.png
exercicio_numpy.ipynb
estrutura_sequencial
README.md
plotly.ipynb
Untitled1.ipynb
estrutura_condicional
brics.xlsx
.git
exercicio_pandas_graficos.ipynb
IMC.csv
introducao.pdf
brics.csv
pressao_vapor_completo.csv
modularizacao
environment.yml
IMC.xlsx
pressao_vapor.csv
exercicio_strings.ipynb
aprendizado_maquina
linhas.html
exercicio_strings_respondido.ipynb
01.mol2
conceitos_basicos.pdf
Untitled.ipynb
numpy.ipynb
.ipynb_checkpoints