In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("pressao_vapor_completo.csv",index_col = 0)

In [5]:
df

   p1/mmHg  p2/mmHg  t/°C      p/p*  ln(p/p*)     T/K       1/T
0    696.0      693  74.0  0.913816 -0.090126  347.15  0.002881
1    636.0      639  65.5  0.838816 -0.175764  338.65  0.002953
2    608.5      605  63.0  0.798355 -0.225202  336.15  0.002975
3    574.0      578  60.5  0.757895 -0.277211  333.65  0.002997
4    556.0      554  56.6  0.730263 -0.314350  329.75  0.003033
5    525.0      520  52.0  0.687500 -0.374693  325.15  0.003076

In [6]:
from scipy import stats

In [7]:
results = stats.linregress(df["1/T"], df["ln(p/p*)"])

In [8]:
results.slope

-1503.4319530816801

In [9]:
results.intercept

4.245760251447936

In [11]:
results.rvalue**2

0.9874462539670181